################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/prototype/node_modules
/prototype/obj/Debug
